@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --primarycolor: #a83e3e;
  --secondcolor: #3EA8A8;
  --highlighter:#3EA83E;
  --gridcolor: #733EA8;
  --extracolor: #3E3EA8;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Luckiest Guy', cursive;
  overflow: hidden;
}
/* Header styling */

.title--bar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
}
.title {
  color: var(--secondcolor);
  text-shadow: 2px 3px 5px #000;
  font-size: 3rem;
}

/* Game container styling */

.main--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
  margin: 0 auto;
}
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu--button {
  background-color: #dedede;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}
.game--wrapper{
  margin: 2rem auto;
  position: relative;
}
.game--container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
  align-items: center;
  gap: 5px;
  /*border-radius: 35px;
  overflow: hidden;*/
}
.translate--top-left {
  transform: translateY(-5px) rotate(5deg);
}
.translate--bottom-right {
  transform: translateY(5px) rotate(5deg);
}
.translate--top-right {
  transform: translateY(-5px) rotate(-5deg);
}
.translate--bottom-left {
  transform: translateY(5px) rotate(-5deg);
}
.game--cell {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  background-color: #00006ae7;
}

.player--name-box {
  margin: 0.5rem;
}

.player--name {
  font-size: 2rem;
  vertical-align: middle;
  color: #3E3EA8;
}

.player--turn{
  width: 240px;
  height: 50px;
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primarycolor);
  font-size: 1.5rem;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
.game--result{
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.game--result_msg {
  font-size: 2rem;
  color: var(--highlighter);
  margin: 0 0 1rem 0;
}
.game--restart {
  background-color: var(--extracolor);
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25), -1px -1px 2px rgba(0,0,0,0.25);
}

/* Borders */

.bottom--right {
  border-right: 3.5px solid var(--gridcolor);
  border-bottom: 3.5px solid var(--gridcolor);
}
.bottom {
  border-bottom: 3.5px solid var(--gridcolor);
}
.right {
  border-right: 3.5px solid var(--gridcolor);
}

/* Strikes */

.strike {
  position: absolute;
  background-color: blueviolet;
}
.strike--horizontal {
  width: 100%;
  height: 3px;
  top: 10%;
  left: 0;
}

.strike--vertical {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: blueviolet;
  top: 50%;
  left: 0;
}
.strike--diagonal {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: blueviolet;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}